<div class="row">
    <div class="input-field col s0 offset-m1"></div>
    <div class="col s12 m10 l8">
        <div class="card-panel hoverable">

            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate" [(ng-model)]="newTitle" (focus)="showAll=true">
                    <label for="first_name">Title</label>
                </div>
            </div>
            <div class="row" [class.hide]="!showAll">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" [(ng-model)]="newContent"></textarea>
                    <label for="textarea1">Add note</label>
                </div>
            </div>
            <div class="row"  [class.hide]="!showAll">
                <a class="right waves-effect waves-light btn" (click)="xTodo()">Done</a>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4 l3" *ng-for="#todo of todoStore.list">
        <div class="card">
            <div [class.hide]="todoEdit == todo">
                <div class="card-content">
                    <span class="card-title black-text" (dblclick)="editTodo(todo)">{{todo.title}}</span>
                    <p>{{todo.content}}</p>
                </div>
                <div class="card-action">
                    <a><i class="material-icons" (click)="deleteMe(todo)">delete</i></a>
                </div>
            </div>
            <div [class.hide]="(todoEdit != todo)">
                <div class="card-content">
                    <span class="card-title black-text">
                        <div class="input-field">
                            <input type="text" class="validate" [(ng-model)]="todo.title">
                        </div>
                    </span>
                    <div class="input-field">
                        <textarea class="materialize-textarea" [(ng-model)]="todo.content"></textarea>
                    </div>
                </div>
                <div class="card-action">
                    <a><i class="material-icons" (click)="doneEditing(todo)">done</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
